.env
.venv
.venv-1
__pycache__/
*.pyc
example-config/.storage/
example-config/home-assistant_v2.db
example-config/home-assistant.log
example-config/home-assistant.log.*
example-config/.cloud/
example-config/.uuid
example-config/deps/
example-config/tts/
example-config/.HA_VERSION
example-config/known_devices.yaml
example-config/secrets.yaml
example-config/.config_entries.json
example-config/.storage.backup/
*.log
*.sqlite
*.db
*.db-shm
*.db-wal
example-config/.ha_run.lock
config/
